---
import type { CollectionEntry } from "astro:content";

export type Props = {
  title: string;
  posts: (CollectionEntry<"post"> | CollectionEntry<"til">)[];
};

const { title, posts } = Astro.props;
---

<section class="flex flex-col space-y-4">
  <span class:list={["text-2xl font-mono text-mint-9"]}>{title}</span>
  <ul class="ml-5 flex flex-col space-y-2">
    {
      posts.map(({ collection, slug, data: { title } }) => (
        <li>
          -&nbsp;
          <a
            href={collection === "til" ? `/t/${slug}` : `/p/${slug}`}
            class="underline underline-offset-4"
            title={title}
          >
            {title}
          </a>
        </li>
      ))
    }
  </ul>
</section>
