---
export type Props = {
  title?: string;
  description?: string;
};

const title = Astro.props.title ?? "Dietcode | Sid's blog";
const description =
  Astro.props.description ??
  "Bite-sized slices of Sid's adventures with computers";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const image = new URL(
  canonicalURL.pathname +
    (canonicalURL.pathname.endsWith("/") ? "" : "/") +
    "og.png",
  Astro.site,
);
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Fonts -->
    <link
      rel="preload"
      href="/fonts/JetBrainsMono-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Inter-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <style>
      @font-face {
        font-family: "JetBrains Mono";
        src: url("/fonts/JetBrainsMono-Regular.woff2");
        font-weight: 400;
        font-display: optional;
      }
      @font-face {
        font-family: "Inter";
        font-weight: 400;
        src: url("/fonts/Inter-Regular.woff2");
        font-display: optional;
      }
    </style>

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />
    <meta name="twitter:creator" content="@sdnts_" />
    <meta name="twitter:site" content="@sdnts_" />

    <style>
      body {
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "logo    links"
          "content content";
      }

      /* Tailwind's md: */
      @media (min-width: 768px) {
        body {
          gap: 3rem;
          grid-template-columns: 1fr 600px 1fr;
          grid-template-areas: "logo content links";
        }
      }

      /* Tailwind's lg: */
      @media (min-width: 1024px) {
        body {
          gap: 6rem;
        }
      }
    </style>
  </head>

  <body
    class:list={[
      "mx-4 md:mx-0",
      "my-12 lg:my-24",
      "bg-mauve-1 text-mauve-12",
    ]}
  >
    <a href="/" class="md:justify-self-end" style="grid-area: logo;">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 128 128"
        class="w-8 h-8"
      >
        <title>Logo</title>
        <path
          d="M32.9038 95.0962C29.0115 91.2038 31.5923 83.0385 29.6038 78.2577C27.6154 73.4769 20 69.2885 20 64C20 58.7115 27.5308 54.6923 29.6038 49.7423C31.6769 44.7923 29.0115 36.7962 32.9038 32.9038C36.7962 29.0115 44.9615 31.5923 49.7423 29.6038C54.5231 27.6154 58.7115 20 64 20C69.2885 20 73.3077 27.5308 78.2577 29.6038C83.2077 31.6769 91.2038 29.0115 95.0962 32.9038C98.9885 36.7962 96.4077 44.9615 98.3962 49.7423C100.385 54.5231 108 58.7115 108 64C108 69.2885 100.469 73.3077 98.3962 78.2577C96.3231 83.2077 98.9885 91.2038 95.0962 95.0962C91.2038 98.9885 83.0385 96.4077 78.2577 98.3962C73.4769 100.385 69.2885 108 64 108C58.7115 108 54.6923 100.469 49.7423 98.3962C44.7923 96.3231 36.7962 98.9885 32.9038 95.0962Z"
          fill="#FFA800"></path>
      </svg>
    </a>

    <ul
      class="justify-self-end md:justify-self-start flex md:flex-col gap-3"
      style="grid-area: links;"
    >
      <li class="w-[18px] h-[18px]">
        <a href="/rss" title="RSS feed">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 256 256"
            class="fill-none stroke-mauve-12 opacity-30 hover:opacity-100 transition-all"
          >
        <title>RSS</title>
            <path
              d="M48,144a64,64,0,0,1,64,64"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="24"></path>
            <path
              d="M48,96A112,112,0,0,1,160,208"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="24"></path>
            <path
              d="M48,48A159.1,159.1,0,0,1,161.1,94.9,159.1,159.1,0,0,1,208,208"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="24"></path>
            <circle class="fill-mauve-12 stroke-none" cx="52" cy="204" r="16"
            ></circle>
          </svg>
        </a>
      </li>

      <li class="w-[18px] h-[16px]">
        <a href="https://twitter.com/@sdnts_" title="Twitter">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 18 16"
            class="fill-mauve-12 opacity-30 hover:opacity-100 transition-all"
          >
        <title>Twitter / X</title>
            <path
              d="M16.1093 4.01974C16.1202 4.17724 16.1202 4.33474 16.1202 4.49369C16.1202 9.337 12.4331 14.9228 5.6911 14.9228V14.9199C3.69949 14.9228 1.74924 14.3523 0.0726318 13.2767C0.362229 13.3115 0.653277 13.3289 0.945051 13.3297C2.59554 13.3311 4.19884 12.7773 5.49731 11.7576C3.92884 11.7278 2.55344 10.7051 2.07295 9.21216C2.62239 9.31813 3.18852 9.29635 3.72779 9.14902C2.01779 8.80353 0.787551 7.30111 0.787551 5.55627V5.50982C1.29707 5.79361 1.86755 5.95111 2.4511 5.96853C0.840535 4.89216 0.344083 2.74958 1.31666 1.07442C3.17763 3.36434 5.92336 4.75644 8.87086 4.90377C8.57545 3.63071 8.979 2.29668 9.93126 1.40176C11.4076 0.0140167 13.7294 0.0851458 15.1171 1.56071C15.938 1.39886 16.7248 1.09765 17.4448 0.670872C17.1712 1.51934 16.5985 2.24006 15.8335 2.69805C16.5601 2.6124 17.2699 2.41789 17.9384 2.12103C17.4463 2.85845 16.8264 3.50079 16.1093 4.01974Z"
            ></path>
          </svg>
        </a>
      </li>

      <li class="w-[18px] h-[18px]">
        <a href="https://hachyderm.io/@sid" title="Mastodon">
        <title>Mastodon</title>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 216.4144 232.00976"
            class="opacity-30 hover:opacity-100 transition-all"
          >
            <path
              d="M211.80734 139.0875c-3.18125 16.36625-28.4925 34.2775-57.5625 37.74875-15.15875 1.80875-30.08375 3.47125-45.99875 2.74125-26.0275-1.1925-46.565-6.2125-46.565-6.2125 0 2.53375.15625 4.94625.46875 7.2025 3.38375 25.68625 25.47 27.225 46.39125 27.9425 21.11625.7225 39.91875-5.20625 39.91875-5.20625l.8675 19.09s-14.77 7.93125-41.08125 9.39c-14.50875.7975-32.52375-.365-53.50625-5.91875C9.23234 213.82 1.40609 165.31125.20859 116.09125c-.365-14.61375-.14-28.39375-.14-39.91875 0-50.33 32.97625-65.0825 32.97625-65.0825C49.67234 3.45375 78.20359.2425 107.86484 0h.72875c29.66125.2425 58.21125 3.45375 74.8375 11.09 0 0 32.975 14.7525 32.975 65.0825 0 0 .41375 37.13375-4.59875 62.915"
              class="fill-mauve-12"></path>
            <path
              d="M177.50984 80.077v60.94125h-24.14375v-59.15c0-12.46875-5.24625-18.7975-15.74-18.7975-11.6025 0-17.4175 7.5075-17.4175 22.3525v32.37625H96.20734V85.42325c0-14.845-5.81625-22.3525-17.41875-22.3525-10.49375 0-15.74 6.32875-15.74 18.7975v59.15H38.90484V80.077c0-12.455 3.17125-22.3525 9.54125-29.675 6.56875-7.3225 15.17125-11.07625 25.85-11.07625 12.355 0 21.71125 4.74875 27.8975 14.2475l6.01375 10.08125 6.015-10.08125c6.185-9.49875 15.54125-14.2475 27.8975-14.2475 10.6775 0 19.28 3.75375 25.85 11.07625 6.36875 7.3225 9.54 17.22 9.54 29.675"
              class="fill-mauve-1"></path>
          </svg>
        </a>
      </li>

      <li class="w-[18px] h-[18px]">
        <a href="https://github.com/sdnts" title="GitHub">
        <title>GitHub</title>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 96 96"
            class="fill-mauve-12 opacity-30 hover:opacity-100 transition-all"
          >
            <path
              d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z"
              fill-rule="evenodd"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </li>
    </ul>

    <main style="grid-area: content;">
      <slot />
    </main>

    <!-- Analytics -->
    <script defer is:inline>
      (() => {
        fetch("https://in.sdnts.dev/a", {
          method: "POST",
          body: JSON.stringify({
            name: "page_view",
            environment:
              window.location.hostname === "localhost"
                ? "development"
                : "production",
            path: window.location.pathname,
          }),
        });
      })();
    </script>
  </body>
</html>
